/*Styling the title of my story on the webpage*/
h1 {
    text-align: center;
    margin-top: 20px;
    text-decoration: bold;
    color: black;
}

/*Styling the authors of my story on the webpage*/
h3 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
    color: black;
}

.story {
    text-wrap: 20px;
    text-align: center;
    text-decoration: bold;
}

/*Styling the background of the webpage*/
body {
    background-color: grey;
}

/*Styling the card where the story is in on my webpage*/
/*.card {
    height: 450px;
    width: 350px;
    position: center;
    margin-right: 50px;
    margin-left:  50px;
    margin-bottom: 40px;
    margin-top: 40px;
}
*/