/*Styling the title of my story on the webpage*/
h1 {
    text-align: center;
    margin-top: 20px;
    text-decoration: bold;
    color: black;
}

/*Styling the authors of my story on the webpage*/
h3 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
    color: black;
}

/*Styling the story that shows up on the webpage after the user answers the prompts*/
#story {
    text-wrap: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    color: black;
}


/*Styling the background of the webpage*/
body {
    background-color: grey;
    overflow-x: clip;
}

/*Styling the card where the story is in on my webpage*/

