h1 {
    text-align: center;
    margin-top: 20px;
}

h3 {
    text-align: center;
    margin-top: 10px;
}

.story {
    text-wrap: 20px;
    text-align: center;
    text-decoration: bold;
}

body {
    background-color: lightskyblue;
}

.card {
    height: 500px;
    width: 350px;
    position: center;
    margin-right: 50px;
    margin-left:  50px;
    margin-bottom: 40px;
    margin-top: 40px;
}
